@model Cinema.Domain.SpecialCollectionClass

@{ ViewData["Title"] = "Index";
   Layout = "~/Views/Shared/_Layout.cshtml"; }

<div class="container">


    <div>
        <div class="m-3 p-3">
            <a class="btn btn-success" asp-controller="Tickets" asp-action="Create">Add new Ticket</a>

        </div>
        <form class="form-group">
            <div class="m-3 p-3">
                <div class="row justify-content-center m-3 p-3">

                    <div class="col-md-auto ">
                        <label>From:</label>&nbsp;
                        <input id="fromDate" type="text" asp-for="FromDate" class="datePicker" required />
                    </div>
                    <div class="col-md-auto ">
                        <label>To:</label>&nbsp;
                        <input id="toDate" type="text" asp-for="ToDate" class="datePicker" required />
                    </div>
                    <div class="col-md-auto">
                        <button class="btn btn-primary btn-sm" type="submit">Search</button>
                    </div>
                </div>
            </div>
        </form>
        
        <div id="content">
            <partial name="_IndexFilter.cshtml" model="Model.SearchResults" />
        </div>

        @section Scripts{
            <script>
        function ApplyDateFilter(e) {
            e.preventDefault();
            var from = $("#fromDate").val();
            var to = $("#toDate").val();
            var type = $("#searchTypeSelection").val();
            var text = $("#searchText").val();
            debugger;
            $.ajax({
                type: "Get",
                url: '@Url.Action("IndexFilter", "Archives")',
                data: //formData,
                {
                    FromDate: from,
                    ToDate: to,
                    SearchType: type,
                    SearchText: text
                },
                contentType: "application/json",
                success: function (response) {
                    $("#content").html(""); //clear the records content
                    $("#content").html(response);  //add the updated content.
                }
            });
        }
            </script>
        }
    </div>
    <div class="row justify-content-center">
        <a class="btn btn-dark btn-lg active" asp-controller="Tickets" asp-action="ExportAllTickets">Export Tickets</a>
    </div>
</div>
